main {
    background-color: var(--darkgray);
}

.main-catalog {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 350px);
    column-gap: 50px;
    row-gap: 25px;
    height: 100%;
    padding: 3% 5%;
    background-color: var(--darkgray);
}
.main-catalog a {
    text-decoration: none;
}
.catalog-item {
    height: 350px;
    background-color: #5e626b;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.pizza-image {
    position: relative;
    height: 250px;
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: 20px;
    padding-bottom: 5px;
}
.pizza-image img {
    position: relative;
    height: 100%;
    width: 95%;
}
.pizza-title {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    font-size: 1.2em;
    color: white
}